div.container {
    margin-top: 20px;
}

div.ad-titlee {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}


div.ad-titlee h1, div.ad-titlee p {
    color: white;
    text-shadow: 3px 3px rgba(0,0,0, 0.5);
}

div.carousel-caption {
    text-shadow: 3px 3px rgba(0,0,0, 0.5);
}