{% extends 'base.html.twig' %}


{% block title %}
    Bienvenue sur le meilleur réseau d'appartements de France
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur SymBnB</h1>
            <p class="lead">
                Nos mettons en relation les voyageurs et les proprietaire qui veulent profier
                d'opportunité et gagner de l'argent en proposant leurs bien a la location
            </p>
            <hr class="my-4">
            <p>Vous êtes voyageur et vous voulez voir ou vous pouvez loger pour votre prochaine deplacement ?</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
        </div>

        <h2 class="h1 mt-3 mb-4">Nos appartement stars !</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header card-center">
                        3 chambres, <strong>49&euro; / nuit</strong><br>
                        <small>Pas encore noté !</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                         style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement pépite
                        </h4>

                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            A corporis dignissimos enim esse excepturi illum minus suscipit voluptates?
                            Doloribus, eius?
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header card-center">
                        3 chambres, <strong>49&euro; / nuit</strong><br>
                        <small>Pas encore noté !</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                         style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement pépite
                        </h4>

                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            A corporis dignissimos enim esse excepturi illum minus suscipit voluptates?
                            Doloribus, eius?
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header card-center">
                        3 chambres, <strong>49&euro; / nuit</strong><br>
                        <small>Pas encore noté !</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                         style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement pépite
                        </h4>

                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            A corporis dignissimos enim esse excepturi illum minus suscipit voluptates?
                            Doloribus, eius?
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="h1 mt-3 mb-4">Nos proprietaire stars !</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Vidal François</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar de françois" class="float-left mr-3">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, nesciunt.</p>
                        <button class="btn btn-success float-right">En savoir plus !</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Vidal François</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar de françois" class="float-left mr-3">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, nesciunt.</p>
                        <button class="btn btn-success float-right">En savoir plus !</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
